body { 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-image: url('../Images/background.jpg');
    max-width: 100%;
    background-size: cover;
}

.main {
    width: 450px; /* Increased width */
    height: 650px; /* Increased height */
    overflow: hidden;
    border-radius: 15px; /* Slightly larger border-radius */
    background: rgba(8, 32, 62, 0.9);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.5s;
}

.main:hover {
    transform: scale(1.1);
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.8em; /* Increased font size */
    justify-content: center;
    display: flex;
    margin: 60px; /* Adjusted margin */
    font-weight: bold;
    transition: .5s ease-in-out;
}

input {
    width: 70%; /* Increased width */
    height: 15px; /* Increased height */
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 25px auto; /* Adjusted margin */
    padding: 15px; /* Increased padding */
    border: none;
    outline: none;
    border-radius: 8px; /* Slightly larger border-radius */
}

button {
    width: 70%; /* Increased width */
    height: 50px; /* Increased height */
    margin: 15px auto; /* Adjusted margin */
    justify-content: center;
    display: block;
    color: #fff;
    background: #08203e;
    font-size: 1.2em; /* Increased font size */
    font-weight: bold;
    margin-top: 35px;
    outline: none;
    border: solid 1px #557c93;
    border-radius: 8px; /* Slightly larger border-radius */
    transition: .2s ease-in;
}

button:hover {
    color: #08203e;
    background: #eee;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

input:hover {
    border: 1px solid #557c93;
}

.login {
    height: 550px; /* Increased height */
    background: #eee;
    border-radius: 70% / 15%; /* Slightly larger radius */
    transform: translateY(-200px);
    transition: .8s ease-in-out;
}

.login label {
    color: #274c77;
    transform: scale(0.7); /* Adjusted scale */
}

.toggle-password {
    position: absolute;
    right: 75px; /* Adjusted position */
    top: 50%;
    transform: translateY(-50%);
}

.password-container {
    position: relative;
}

#set {
    padding-top: 7%; /* Adjusted padding */
}

#chk:checked ~ .login {
    transform: translateY(-650px); /* Adjusted translation */
}

#chk:checked ~ .login label {
    transform: scale(1);    
}

#chk:checked ~ .signup label {
    transform: scale(0.7);
}
